<style scoped>
.text-right {
  text-align: right;
  a {
    padding-left: 5px;
  }
}
</style>

<template>
  <div class="md-layout">
    <div v-if="published" class="md-layout-item">
      {{ moment(published, 'YYYY-MM-DDThh:mm:ssZ').fromNow() }}
    </div>
    <div class="md-layout-item text-right">
      <md-badge
        :md-content="likes.items.length"
      >
        <md-button class="md-icon-button">
          <font-awesome-icon
            :class="{ 'md-icon': true, 'bs-danger': likes.items.length > 0 }"
            icon="heart"
          ></font-awesome-icon>
        </md-button>
      </md-badge>
      <md-button
        class="md-icon-button"
        :to="{ name: 'Conversation', params: { q: id }}"
      >
        <font-awesome-icon class="md-icon" icon="stream"></font-awesome-icon>
      </md-button>
      <md-button v-if="inReplyTo" class="md-icon-button" :href="inReplyTo">
        <font-awesome-icon class="md-icon" icon="reply"></font-awesome-icon>
      </md-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ActionBar',
  props: {
    id: {
      type: String,
      required: true
    },
    published: String,
    likes: {
      type: Object,
      default: () => {
        return {
          items: []
        }
      }
    },
    inReplyTo: String
  }
}
</script>
