<style lang="scss" scoped>
.md-card {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 16px;
  min-width: 300px;
}
.md-card-media {
  max-height: 350px;
  overflow: hidden;
  .svg-inline--fa {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
</style>

<template>
  <md-card>
    <md-card-header>
      <div class="md-title">{{ checkin.drink.name }}</div>
      <div class="md-subhead">{{ checkin.drink.style }}</div>
    </md-card-header>

    <md-card-media>
      <img v-if="checkin.image" :src="checkin.image.url" :alt="checkin.image.name" />
      <font-awesome-icon v-else icon="beer"></font-awesome-icon>
    </md-card-media>

    <md-card-content v-if="person">
      <a :href="person.url">
        {{ person.preferredUsername }}
      </a>
      is drinking a {{ checkin.drink.name }} ({{ checkin.drink.category }}) by
      <a :href="checkin.manufacturer.url">
        {{ checkin.manufacturer.name }}
      </a>
      <template v-if="checkin.venue">
        at
        <a :href="checkin.venue.url">
          {{ checkin.venue.name }}
        </a>
      </template>
    </md-card-content>
    <md-card-content v-if="checkin.rating">
      <Rating :max="checkin.rating.max" :rating="checkin.rating.user" />
    </md-card-content>
    <md-card-content v-if="checkin.content">
      <md-content class="alert bs-secondary">
        {{ checkin.content }}
      </md-content>
    </md-card-content>
    <md-card-content v-if="checkin.venue" class="text-muted">
      <a :href="checkin.venue.url">{{ checkin.venue.name }}</a>
      <template v-if="checkin.venue.location">
        ({{ prettyLocationName(checkin.venue.location.name) }})
      </template>
    </md-card-content>
    <md-card-content class="text-muted">
      <ActionBar
        :published="checkin.published"
        :likes="checkin.likes"
        :id="checkin.id"
        :in-reply-to="checkin.inReplyTo"
      />
    </md-card-content>
  </md-card>
</template>

<script>
import ActionBar from '@/parts/ActionBar'
import Rating from '@/parts/Rating'

export default {
  name: 'Checkin',
  components: {
    ActionBar,
    Rating
  },
  props: {
    checkin: Object,
    person: Object
  },
  methods: {
    prettyLocationName (name) {
      var parts = name.split(', ').filter(a => a !== '')
      return parts.join(', ')
    }
  }
}
</script>
