<style scope>
.h-100 {
  height: 100%;
}
.py-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.text {
  margin: auto 0;
  font-size: 18px;
}
.dark {
  color: var(--bs-color-white);
  background-color: var(--md-theme-default-primary, #343a40) !important;
}
</style>

<template>
  <div :class="{ 'md-layout': true, 'py-2': true, 'dark': index%2 !== 0 }">
    <div class="md-layout-item md-size-20"></div>
    <div v-if="index%2 === 0" class="md-layout-item md-size-30 md-small-size-0">
      <img :src="item.image" :alt="item.imageAlt" />
    </div>
    <div class="md-layout-item md-size-30 md-small-size-100">
      <div class="md-layout h-100">
        <div class="md-layout-item md-size-25"></div>
        <div class="md-layout-item md-size-50 text">{{ item.description }}</div>
        <div class="md-layout-item md-size-25"></div>
      </div>
    </div>
    <div v-if="index%2 !== 0" class="md-layout-item md-size-30 md-small-size-0">
      <img :src="item.image" :alt="item.imageAlt" />
    </div>
    <div class="md-layout-item md-size-20"></div>
  </div>
</template>

<script>
export default {
  name: 'IndexItem',
  props: {
    index: {
      type: Number,
      required: true
    },
    item: {
      type: Object,
      required: true
    }
  }
}
</script>
