<style scoped>
.loading {
  text-align: center;
}

object[type='image/svg+xml'] {
  width: 200px;
}
</style>

<template>
  <div class="loading">
    <p v-if="noUser" class="lead text-muted">
      No user found! You have to login at least once.
    </p>
    <template v-else>
      <object
        :data="require('@/assets/images/waiting.svg')"
        type="image/svg+xml"
      ></object>
      <p class="lead text-muted">Your checkins being processed…</p>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Loading',
  props: {
    'noUser': Boolean
  }
}
</script>
