<style lang="scss" scoped>
.md-avatar-icon {
  background-color: var(--bs-color-beer) !important;
}
.md-card {
  margin-bottom: 16px;
}
.text-right {
  text-align: right;
  a {
    padding-left: 5px;
  }
}
</style>

<template>
  <md-card>
    <md-card-header v-if="item.summary">
      <div class="md-title">{{ item.summary }}</div>
    </md-card-header>

    <md-card-content v-if="person">
      <md-avatar class="md-avatar-icon">
        <md-ripple>{{ person.preferredUsername.substring(0,2).toUpperCase() }}</md-ripple>
      </md-avatar>
      <a :href="person.url">
        {{ person.preferredUsername }}
      </a>
    </md-card-content>
    <md-card-content v-if="item.attachment">
      <object
        style="width: 100%; height: 100vh;"
        :data="item.attachment.url"
        :type="item.attachment.mediaType"
      ></object>
    </md-card-content>
    <md-card-content v-if="item.content">
      <md-content class="alert bs-secondary" v-html="item.content"></md-content>
    </md-card-content>
    <md-card-content class="text-muted">
      <ActionBar
        :published="item.published"
        :likes="item.likes"
        :id="item.id"
        :in-reply-to="item.inReplyTo"
      />
    </md-card-content>
  </md-card>
</template>

<script>
import ActionBar from '@/parts/ActionBar'

export default {
  name: 'Note',
  props: {
    item: Object,
    person: Object
  },
  components: {
    ActionBar
  }
}
</script>
