<style scoped>
.md-progress-bar {
  height: 20px;
}
.md-progress-bar-outter {
  position: relative;
}
.md-progress-bar-text {
  position: absolute;
  color: var(--bs-color-beer);
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

<template>
  <div class="md-progress-bar-outter">
    <md-progress-bar
      md-mode="determinate"
      :md-value="((rating || 0) / (max || 5)) * 100"
      ></md-progress-bar>
    <div class="md-progress-bar-text">
      {{ parseFloat(rating).toFixed(2) }}
      <font-awesome-icon icon="beer"></font-awesome-icon>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Rating',
  props: {
    rating: Number,
    max: Number
  }
}
</script>
