<style scoped>
.md-block {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.md-speed-dial-target .svg-inline--fa {
  color: var(--bs-color-white);
}
.md-content {
  padding: 10px;
}
.editor-content {
  padding: 5px 20px 5px 20px;
  background-color: var(--bs-color-secondary);
  color: var(--bs-color-white);
}
</style>

<template>
  <div>
    <md-button
       v-if="!showEditor"
      class="md-dense bs-beer md-block"
      @click="showEditor = !showEditor">Write something…</md-button>

    <md-content v-else class="md-elevation-1">
      <md-tabs :md-active-tab="activeTab" @md-changed="tabChanged">
        <md-tab id="editor-edit" md-label="Editor">
          <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
            <div class="md-layout">
              <div v-for="(items, name) in extensions" v-bind:key="name">
                <md-button
                  v-for="(item, idx) in items"
                  v-bind:key="'button' + idx"
                  class="md-icon-button md-layout-item"
                  :class="{ 'is-active': isActive[name] ? isActive[name](item.params) : false }"
                  @click="commands[name](item.params)">
                  <md-badge
                    v-if="items.length > 1"
                    md-position="bottom"
                    :md-content="idx + 1"
                    md-dense
                  >
                    <font-awesome-icon class="md-icon" :icon="item.icon" />
                  </md-badge>
                  <font-awesome-icon v-else class="md-icon" :icon="item.icon" />
                  <md-tooltip>{{ normalizeName(name) }}</md-tooltip>
                </md-button>
              </div>
            </div>
          </editor-menu-bar>
          <editor-content :editor="editor" class="editor-content" />
          <md-button
            class="md-raised md-primary"
            @click="activeTab = 'editor-preview'">Preview</md-button>
        </md-tab>

        <md-tab id="editor-preview" md-label="Preview">
          <p v-html="editor.getHTML()" />
          <md-checkbox v-model="isPublic" :value="true">Public</md-checkbox>
          <md-button class="md-raised bs-success" @click="onSubmit">Post</md-button>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</template>

<script>
import { ActivityPub, onError } from '@/api'
import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
} from 'tiptap-extensions'

export default {
  name: 'RichTextEditor',
  components: {
    EditorContent,
    EditorMenuBar
  },
  data () {
    return {
      showEditor: false,
      activeTab: 'editor-edit',
      editor: null,
      isPublic: true,
      defaultContent: '<p>Have I told you <u>how much I like beer</u>?</p>',
      extensions: {
        bold: [{
          params: {},
          icon: 'bold'
        }],
        italic: [{
          params: {},
          icon: 'italic'
        }],
        strike: [{
          params: {},
          icon: 'strikethrough'
        }],
        underline: [{
          params: {},
          icon: 'underline'
        }],
        code: [{
          params: {},
          icon: 'code'
        }],
        paragraph: [{
          params: {},
          icon: 'paragraph'
        }],
        heading: [
          {
            params: { level: 1 },
            icon: 'heading'
          },
          {
            params: { level: 2 },
            icon: 'heading'
          },
          {
            params: { level: 3 },
            icon: 'heading'
          }
        ],
        bullet_list: [{
          params: {},
          icon: 'list-ul'
        }],
        ordered_list: [{
          params: {},
          icon: 'list-ol'
        }],
        blockquote: [{
          params: {},
          icon: 'quote-right'
        }],
        code_block: [{
          params: {},
          icon: 'terminal'
        }],
        horizontal_rule: [{
          params: {},
          icon: 'ruler-horizontal'
        }],
        undo: [{
          params: {},
          icon: 'undo'
        }],
        redo: [{
          params: {},
          icon: 'redo'
        }]
      }
    }
  },
  beforeMount () {
    this.editor = new Editor({
      extensions: [
        new Blockquote(),
        new CodeBlock(),
        new HardBreak(),
        new Heading({ levels: [1, 2, 3] }),
        new BulletList(),
        new OrderedList(),
        new ListItem(),
        new TodoItem(),
        new TodoList(),
        new Bold(),
        new Code(),
        new Italic(),
        new Link(),
        new Strike(),
        new Underline(),
        new History(),
      ],
      content: this.defaultContent,
    })
  },
  beforeDestroy () {
    this.editor.destroy()
  },
  methods: {
    tabChanged (tab) {
      this.activeTab = tab
    },
    onSubmit (evt) {
      evt.preventDefault()
      var payload = {
        content: this.editor.getHTML()
      }
      if (this.isPublic !== null && this.isPublic) {
        payload['public'] = true
      }

      ActivityPub.post('/notes/create', payload).then(() => {
        this.editor.setContent(this.defaultContent)
        this.activeTab = 'editor-edit'
      }).catch((resp) => onError(this, resp))
    },
    normalizeName (s) {
      if (typeof s !== 'string') {
        return ''
      }
      return (s.charAt(0).toUpperCase() + s.slice(1)).replaceAll("_", " ")
    }
  }
}
</script>
