<template>
  <md-autocomplete
    :value="value"
    :md-options="results"
    @md-changed="onSearch"
    @md-opened="onSearch"
    @md-selected="onSelect"
    md-layout="box"
    md-dense
  >
    <label>Search...</label>
    <template slot="md-autocomplete-item" slot-scope="{ item }">
      {{ item.drink }}<span class="text-muted"> - {{ item.manufacturer }}</span>
    </template>
    <template slot="md-autocomplete-empty" slot-scope="{ term }">
      <p>No results for: {{ term }}</p>
      <p class="text-muted">
        <a href="#" @click="notFound">Create blank checkin</a>
      </p>
      <p v-if="$root.userInfo.untappdService && searchType !== 'untappd'" class="text-muted">
        <a @click="searchOn($event, 'untappd')">Search on Untappd</a>
      </p>
      <p v-else-if="searchType === 'untappd'">
        <a @click="searchOn($event, 'checkin')">Search the database</a>
      </p>
    </template>

    <div class="md-helper-text">
      <strong v-if="searchType === 'untappd'">You are currently searching the Untappd database.</strong>
      <strong v-else>You are currently searching the local database.</strong>
    </div>
  </md-autocomplete>
</template>

<script>
import { Socialtap, onError } from '@/api'

export default {
  name: 'Search',
  props: {
    vocabType: String
  },
  data () {
    return {
      value: null,
      searchType: this.vocabType || 'checkin',
      items: {},
      results: []
    }
  },
  methods: {
    searchOn (evt, type) {
      evt.preventDefault()

      this.searchType = type

      var val = this.value
      this.value = val // trigger open/close events
    },
    notFound (evt) {
      evt.preventDefault()
      this.items['notFound'] = {}
      this.onSelect({ id: 'notFound' })
    },
    onSearch (searchTerm) {
      if (searchTerm === '') {
        return
      }

      this.results = []
      Socialtap.get(`/search/${this.searchType}/${searchTerm}`).then((resp) => {
        for (var idx in resp.data) {
          var item = resp.data[idx]
          if (this.searchType.toLowerCase() === 'untappd') {
            item = this.convertUntappdBeer(item)
          }
          this.items[item.id] = item
          this.results.push({
            id: item.id,
            drink: item.drink.name,
            manufacturer: item.manufacturer.name
          })
        }
      }).catch((resp) => onError(this, resp))
    },
    convertUntappdBeer (beer) {
      return {
        id: beer.ID,
        drink: {
          abv: beer.ABV,
          active: beer.Brewery.Active,
          category: 'Beer',
          image: {
            name: beer.Name,
            url: `${beer.Label.Scheme}://${beer.Label.Host}${beer.Label.Path}`
          },
          name: beer.Name,
          style: beer.Style
        },
        manufacturer: {
          active: beer.Brewery.Active,
          category: 'Brewery',
          image: {
            name: beer.Brewery.Name,
            url: `${beer.Brewery.Logo.Scheme}://${beer.Brewery.Logo.Host}${beer.Brewery.Logo.Path}`
          },
          location: {
            latitude: beer.Brewery.Location.lat,
            longitude: beer.Brewery.Location.lng,
            name: `${beer.Brewery.Location.brewery_city}, ${beer.Brewery.Location.brewery_state}`
          },
          name: beer.Brewery.Name,
          url: beer.Brewery.Contact.url
        }
      }
    },
    onSelect (selected) {
      if (this.$route.name !== 'CreateCheckin') {
        this.$router.push({
          name: 'CreateCheckin',
          params: {
            item: this.items[selected.id]
          }
        })
      } else {
        this.$root.$emit('search-result', this.items[selected.id])
      }
    }
  }
}
</script>
