<style lang="scss" scoped>
.md-card-comment {
  margin-left: 50px !important;
}
.editor {
  margin: 16px !important;
}
</style>

<template>
  <div>
    <Loading v-if="loading.processing > loading.processed" />

    <Error v-else-if="items === null" status-code="404" />

    <div v-else-if="items.length > 0">
      <Note
        v-for="(item, index) in items"
        v-bind:key="'item' + index"
        :class="{ 'md-card-comment': index !== 0 }"
        :item="item"
        :person="people[item.attributedTo]"
      />
    </div>

    <md-empty-state v-else v-show="delay">
      <md-icon class="md-empty-state-icon">
        <font-awesome-icon icon="align-left"></font-awesome-icon>
      </md-icon>
      <strong class="md-empty-state-label">Empty stream</strong>
      <p class="md-empty-state-description">You haven't posted anything, yet!</p>
    </md-empty-state>

    <RichTextEditor
      v-if="$root.apiConfig.authenticated"
      class="editor md-layout-item md-size-100" />
  </div>
</template>

<script>
import { ActivityPub, Socialtap, onError } from '@/api'
import Note from '@/parts/Note'
import Loading from '@/parts/Loading'
import RichTextEditor from '@/parts/RichTextEditor'
import Error from '@/components/Error'

export default {
  name: 'Conversation',
  components: {
    Note,
    Loading,
    RichTextEditor,
    Error
  },
  data () {
    return {
      items: [],
      people: [],
      loading: {
        processing: 0,
        processed: 0
      },
      delay: false
    }
  },
  mounted () {
    this.updateItems(true)
    this.$root.$emit('interval', setInterval(this.updateItems, 10000))
    // events
    setTimeout(() => { this.delay = true }, 500)
  },
  methods: {
    updateItems () {
      var url = `/conversation?q=${this.$route.params.q}`
      Socialtap.get(url).then((resp) => {
        this.items = resp.data
        this.userInfo()
      }).catch((resp) => onError(this, resp))
    },
    userInfo () {
      for (var idx in this.items) {
        var item = this.items[idx]
        if (this.people[item.attributedTo] || !item.attributedTo) {
          continue
        }
        this.loading.processing++
        ActivityPub.get(item.attributedTo).then((resp) => {
          this.people[resp.data.id] = resp.data
        }).catch((resp) => onError(this, resp)).finally(() => {
          this.loading.processed++
        })
      }
    },
    prettyLocationName (name) {
      var parts = name.split(', ').filter(a => a !== '')
      return parts.join(', ')
    }
  }
}
</script>
