<style scoped>
.p-2 {
  padding: 2em;
}
.checkin {
  display: block;
  width: 100%;
  background-color: var(--bs-color-beer) !important;
  color: var(--bs-color-white) !important;
}
.md-dialog-container .md-content {
  margin: 20px;
}
.rating {
  position: relative;
}
input[type=range] {
  z-index: 2;
  position: absolute;
  top: -3px;
  left: 0;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
</style>

<template>
  <div>
    <!-- alert message for location dialog -->
    <md-dialog-alert
      :md-active.sync="alert.show"
      :md-content="alert.message"
      md-confirm-text="OK"
    />
    <!-- update location dialog -->
    <md-dialog :md-active.sync="showDialog">
      <md-dialog-title>Preferences</md-dialog-title>
      <md-content>
        <md-button
          class="md-dense md-raised md-primary"
          @click="onGeoLocation"
        >Request GPS location</md-button>
        <p>or</p>
        <form @submit="onAddressSubmit">
          <md-field>
            <label>Your address</label>
            <md-input v-model="searchText" />
          </md-field>
          <md-button type="submit" class="md-dense md-raised md-primary">Find</md-button>
        </form>
      </md-content>
    </md-dialog>
    <!-- checkin form -->
    <form class="md-layout" @submit="onSubmit">
      <md-card class="md-layout-item md-elevation-0 mx-0 md-size-100">
        <md-card-header>
          <div class="md-title">Search checkin's</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-100">
              <Search vocab-type="checkin" />
            </div>
          </div>
        </md-card-content>
      </md-card>

      <md-card v-if="checkin !== null" class="md-layout-item md-elevation-0 mx-0 md-size-100">
        <md-card-header>
          <div class="md-title">Create checkin</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label>Category</label>
                <md-input v-model="checkin.drink.category" required />
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label>Drink Name</label>
                <md-input v-model="checkin.drink.name" required />
              </md-field>
            </div>
            <div class="md-layout-item md-size-50 md-small-size-100">
              <md-field>
                <label>Comment</label>
                <md-textarea v-model="checkin.content"></md-textarea>
              </md-field>
            </div>
            <div class="md-layout-item md-size-100 rating">
              <input type="range" v-model="rangeRating" />
              <Rating :max="maxRating" :rating="userRating" />
            </div>
            <div class="md-layout-item md-size-100">
              <md-field>
                <label>Photo</label>
                <md-avatar v-if="validImageURL(checkin.image.url)">
                  <img :src="checkin.image.url" :alt="checkin.image.name" />
                </md-avatar>
                <md-file
                  v-model="checkin.image.url"
                  accept="image/*"
                  @change="addFileToJSON($event, 'checkin')"
                />
              </md-field>
            </div>
            <div class="md-layout-item md-size-100">
              <md-field>
                <label>Beer Logo</label>
                <md-avatar v-if="validImageURL(checkin.drink.image.url)">
                  <img :src="checkin.drink.image.url" :alt="checkin.drink.image.name">
                </md-avatar>
                <md-file
                  v-model="checkin.drink.image.url"
                  accept="image/*"
                  @change="addFileToJSON($event, 'drink')"
                />
              </md-field>
            </div>
            <div class="md-layout-item md-size-40 md-small-size-100">
              <md-field>
                <label>Drink Style</label>
                <md-input v-model="checkin.drink.style" />
              </md-field>
            </div>
            <div class="md-layout-item md-size-40 md-small-size-100">
              <md-field>
                <label>ABV</label>
                <md-input v-model="checkin.drink.abv" type="number" step="0.1" />
              </md-field>
            </div>
            <div class="md-layout-item md-size-20 md-small-size-100">
              <md-checkbox v-model="checkin.drink.active">In production</md-checkbox>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <!-- manufacturer -->
      <md-card v-if="checkin !== null" class="md-layout-item md-elevation-0 mx-0 md-size-100">
        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-100">
              <md-card-expand>
                <md-card-actions md-alignment="space-between">
                  <h2>Manufacturer</h2>

                  <md-card-expand-trigger>
                    <md-button>
                      <font-awesome-icon icon="chevron-down" />
                    </md-button>
                  </md-card-expand-trigger>
                </md-card-actions>

                <md-card-expand-content>
                  <md-card-content>
                    <div class="md-layout">
                      <div class="md-layout-item md-small-size-100">
                        <md-field>
                          <label>Category</label>
                          <md-input v-model="checkin.manufacturer.category" required />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-small-size-100">
                        <md-field>
                          <label>Name</label>
                          <md-input v-model="checkin.manufacturer.name" required />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-100">
                        <md-field>
                          <label>Photo</label>
                          <md-avatar v-if="validImageURL(checkin.manufacturer.image.url)">
                            <img
                              :src="checkin.manufacturer.image.url"
                              :alt="checkin.manufacturer.image.name"
                            />
                          </md-avatar>
                          <md-file
                            v-model="checkin.manufacturer.image.url"
                            accept="image/*"
                            @change="addFileToJSON($event, 'manufacturer')"
                          />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-80 md-small-size-100">
                        <md-field>
                          <label>Website</label>
                          <md-input v-model="checkin.manufacturer.url" />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-checkbox
                          v-model="checkin.manufacturer.active"
                        >Active</md-checkbox>
                      </div>

                      <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-field>
                          <label>Latitude</label>
                          <md-input
                            v-model="checkin.manufacturer.location.latitude"
                            disabled />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-field>
                          <label>Longitude</label>
                          <md-input
                            v-model="checkin.manufacturer.location.longitude"
                            disabled />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-40 md-small-size-100">
                        <md-field>
                          <label>Address</label>
                          <md-input
                            v-model="checkin.manufacturer.location.name"
                            disabled />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-button
                          class="md-dense md-raised md-primary"
                          @click="showDialog = !showDialog; locationVocabType = 'manufacturer'"
                        >Location</md-button>
                      </div>
                    </div>
                  </md-card-content>
                </md-card-expand-content>
              </md-card-expand>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <!-- venue -->
      <md-card v-if="checkin !== null" class="md-layout-item md-elevation-0 mx-0 md-size-100">
        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-100">
              <md-card-expand>
                <md-card-actions md-alignment="space-between">
                  <h2>Venue</h2>

                  <md-card-expand-trigger>
                    <md-button>
                      <font-awesome-icon icon="chevron-down" />
                    </md-button>
                  </md-card-expand-trigger>
                </md-card-actions>

                <md-card-expand-content>
                  <md-card-content>
                    <div class="md-layout">
                      <div class="md-layout-item md-small-size-100">
                        <md-field>
                          <label>Category</label>
                          <md-input v-model="checkin.venue.category" required />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-small-size-100">
                        <md-field>
                          <label>Name</label>
                          <md-input v-model="checkin.venue.name" required />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-100">
                        <md-field>
                          <label>Photo</label>
                          <md-avatar v-if="validImageURL(checkin.venue.image.url)">
                            <img
                              :src="checkin.venue.image.url"
                              :alt="checkin.venue.image.name">
                          </md-avatar>
                          <md-file
                            v-model="checkin.venue.image.url"
                            accept="image/*"
                            @change="addFileToJSON($event, 'venue')"
                          />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-100">
                        <md-field>
                          <label>Website</label>
                          <md-input v-model="checkin.venue.url" />
                        </md-field>
                      </div>

                      <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-field>
                          <label>Latitude</label>
                          <md-input v-model="checkin.venue.location.latitude" disabled />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-field>
                          <label>Longitude</label>
                          <md-input v-model="checkin.venue.location.longitude" disabled />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-40 md-small-size-100">
                        <md-field>
                          <label>Address</label>
                          <md-input v-model="checkin.venue.location.name" disabled />
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-button
                          class="md-dense md-raised md-primary"
                          @click="showDialog = !showDialog; locationVocabType = 'venue'"
                        >Location</md-button>
                      </div>
                    </div>
                  </md-card-content>
                </md-card-expand-content>
              </md-card-expand>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <md-card v-if="checkin !== null" class="md-layout-item md-elevation-0 mx-0 md-size-100">
        <md-card-content>
          <div class="md-layout md-gutter">
            <!-- untappd crosspost -->
            <template v-if="$root.userInfo.untappdService">
              <div class="md-layout-item md-size-100">
                <md-checkbox v-model="untappdSearch">Crosspost to Untappd</md-checkbox>
              </div>
              <div class="md-layout-item md-size-100">
                <md-list v-if="untappdSearch">
                  <md-subheader>Which beer matches yours? If none, please adjust the beer name above.</md-subheader>

                  <md-list-item
                    v-for="beer in untappd.beers"
                    :key="'beer' + beer.ID"
                  >
                    <md-radio v-model="untappd.selected" :value="beer.ID" />
                    <span class="md-list-item-text">{{ beer.Name }} - {{ beer.Brewery.Name }}</span>
                  </md-list-item>
                </md-list>
              </div>
            </template>
            <!-- action buttons -->
            <div class="md-layout-item md-size-20 md-small-size-100">
              <md-checkbox v-model="checkin.public">Public</md-checkbox>
            </div>
            <div class="md-layout-item md-size-80 md-small-size-100">
              <md-button type="submit" class="md-dense md-raised checkin">Checkin</md-button>
            </div>
             <div v-if="untappdSearch" class="md-layout-item md-size-100">
               <md-content class="bs-info p-2">
                 Untappd rating accepts only whole numbers! Your current rating {{ userRating }} becomes a {{ parseInt(userRating) }} on Untappd.
               </md-content>
             </div>
          </div>
        </md-card-content>
      </md-card>
    </form>
  </div>
</template>

<script>
import { Socialtap, ActivityPub, Nominatim, onError } from '@/api'
import Search from '@/parts/Search'
import Rating from '@/parts/Rating'

export default {
  name: 'CreateCheckin',
  components: {
    Search,
    Rating
  },
  props: {
    item: Object
  },
  watch: {
    rangeRating (newRating) {
      this.userRating = 5 * (newRating / 100)
      return newRating
    },
    checkin (newCheckin) {
      if (newCheckin.rating) {
        this.maxRating = newCheckin.rating.max
        this.userRating = newCheckin.rating.user
        this.rangeRating = (this.userRating / this.maxRating) * 100
      }
    },
    untappdSearch () {
      if (this.checkin.drink.name !== null) {
        this.searchUntappd(this.checkin.drink.name)
      }
    }
  },
  data () {
    return {
      untappdSearch: false,
      untappd: {
        beers: [],
        selected: 0,
      },
      alert: {
        show: false,
        message: ''
      },
      showDialog: false,
      locationVocabType: null,
      searchText: null,
      rangeRating: 0,
      userRating: 0,
      maxRating: 5,
      checkin: null,
      exampleCheckin: {
        "public": true,
        "attributedTo": null,
        "audience": [],
        "bcc": [],
        "bto": [],
        "cc": [],
        "content": null,
        "drink": {
          "abv": 0,
          "active": true,
          "category": null,
          "image": {
            "name": null,
            "type": "Image",
            "url": null
          },
          "name": null,
          "style": null,
          "type": "Drink"
        },
        "id": null,
        "image": {
          "type": "Image",
          "url": null
        },
        "manufacturer": {
          "active": true,
          "category": null,
          "image": {
            "name": null,
            "type": "Image",
            "url": null
          },
          "location": {
            "latitude": null,
            "longitude": null,
            "name": null,
            "type": "Manufacturer"
          },
          "name": null,
          "type": "Manufacturer",
          "url": null
        },
        "published": null,
        "rating": {
          "max": 5,
          "type": "Rating",
          "user": 0
        },
        "to": [],
        "type": "Checkin",
        "venue": {
          "category": "Residence",
          "image": {
            "name": null,
            "type": "Image",
            "url": null
          },
          "location": {
            "latitude": null,
            "longitude": null,
            "name": null,
            "type": "Venue"
          },
          "name": "At Home",
          "type": "Venue",
          "url": null
        }
      }
    }
  },
  mounted () {
    if (!this.$root.apiConfig.authenticated) {
      this.$router.push({ name: 'Login' })
      return
    }

    if (typeof this.item === 'object') {
      // make a copy
      var example = this.copyExampleCheckin()
      this.checkin = this.mergeObjs(example, this.item)
    }
    // register search result event
    this.$root.$on('search-result', (selected) => {
      // make a copy
      var example = this.copyExampleCheckin()
      // merge example object
      this.checkin = null
      this.checkin = this.mergeObjs(example, selected)
      // certain fields should be resetted
      this.checkin.content = null
      this.checkin.image.url = null
      this.checkin.venue = this.copyExampleCheckin().venue
    })
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      // XXX it would probably make more sense to send the AP object directly
      var payload = {
        checkinMedia: this.checkin.image.raw || this.checkin.image.url,
        checkinRating: [
          this.userRating,
          this.maxRating
        ],
        checkinComment: this.checkin.content,
        drinkName: this.checkin.drink.name,
        drinkMedia: this.checkin.drink.image.raw || this.checkin.drink.image.url,
        drinkStyle: this.checkin.drink.style,
        drinkCategory: this.checkin.drink.category,
        drinkAbv: this.checkin.drink.abv,
        drinkActive: this.checkin.drink.active,
        manufacturerName: this.checkin.manufacturer.name,
        manufacturerActive: this.checkin.manufacturer.active,
        manufacturerUrl: this.checkin.manufacturer.url,
        manufacturerMedia:
          this.checkin.manufacturer.image.raw || this.checkin.manufacturer.image.url,
        manufacturerCategory: this.checkin.manufacturer.category,
        manufacturerLocation: [
          this.checkin.manufacturer.location.latitude,
          this.checkin.manufacturer.location.longitude,
          this.checkin.manufacturer.location.name
        ],
        venueName: this.checkin.venue.name,
        venueMedia: this.checkin.venue.image.raw || this.checkin.venue.image.url,
        venueUrl: this.checkin.venue.url,
        venueCategory: this.checkin.venue.category,
        venueLocation: [
          this.checkin.venue.location.latitude,
          this.checkin.venue.location.longitude,
          this.checkin.venue.location.name
        ]
      }
      if (this.untappd.selected !== 0) {
        payload['untappdBeerID'] = this.untappd.selected
      }
      if (this.checkin.public) {
        payload['public'] = true
      }

      ActivityPub.post('/checkins/create', payload).then(() => {
        this.$router.push({
          name: 'User',
          params: {
            uuid: this.$root.apiConfig.userID
          }
        })
      }).catch((resp) => onError(this, resp))
    },
    onGeoLocation (evt) {
      evt.preventDefault()
      this.$getLocation().then((coords) => {
        var lat = parseFloat(coords.lat).toFixed(6)
        var lng = parseFloat(coords.lng).toFixed(6)
        this.reverseLocation(this.locationVocabType, lat, lng)
        this.showDialog = false
      }).catch((resp) => onError(this, resp))
    },
    onAddressSubmit (evt) {
      evt.preventDefault()
      this.searchLocation(this.locationVocabType, this.searchText)
      this.showDialog = false
    },
    searchLocation (vocabType, searchText) {
      Nominatim.get(`/search?q=${searchText}&format=jsonv2`).then((resp) => {
        if (resp.data.length <= 0) {
          this.alert.message = 'No location found :('
          this.alert.show = true
          return
        }
        // XXX let the user choose between results
        if (this.checkin[vocabType] && this.checkin[vocabType].location) {
          this.checkin[vocabType].location.longitude = resp.data[0].lon
          this.checkin[vocabType].location.latitude = resp.data[0].lat
          this.checkin[vocabType].location.name = resp.data[0].display_name
        } else {
          console.error(`${vocabType} is no object key in checkin`)
        }
      }).catch((resp) => onError(this, resp))
    },
    reverseLocation (vocabType, lat, lng) {
      Nominatim.get(`/reverse?lat=${lat}&lon=${lng}&zoom=18&format=jsonv2`).then((resp) => {
        if (this.checkin[vocabType] && this.checkin[vocabType].location) {
          this.checkin[vocabType].location.longitude = lng
          this.checkin[vocabType].location.latitude = lat
          this.checkin[vocabType].location.name = resp.data.display_name
        } else {
          console.error(`${vocabType} is no object key in checkin`)
        }
      }).catch((resp) => onError(this, resp))
    },
    isObject (item) {
      return (item && typeof item === 'object' && !Array.isArray(item))
    },
    mergeObjs (target, ...sources) {
      if (!sources.length) {
        return target
      }
      var source = sources.shift()
      if (this.isObject(target) && this.isObject(source)) {
        for (var key in source) {
          if (this.isObject(source[key])) {
            if (!target[key]) Object.assign(target, { [key]: {} })
            this.mergeObjs(target[key], source[key])
          } else {
            Object.assign(target, { [key]: source[key] })
          }
        }
      }
      return this.mergeObjs(target, ...sources)
    },
    searchUntappd (term) {
      this.untappd.beers = []
      Socialtap.get(`/search/untappd/${term}`).then((resp) => {
        for (var idx in resp.data) {
          var item = resp.data[idx]
          this.untappd.beers.push({
            ID: item.ID,
            Name: item.Name,
            Brewery: {
              Name: item.Brewery.Name
            }
          })
        }
      }).catch((resp) => onError(this, resp))
    },
    copyExampleCheckin () {
      // if you use = in javascript it will always reference the parent object
      // this is not nice but works for now
      return JSON.parse(JSON.stringify(this.exampleCheckin))
    },
    addFileToJSON (evt, key) {
      var reader = new FileReader()
      reader.onload = (e) => {
        if (key === 'checkin') {
          this.checkin.image.raw = e.target.result
        } else {
          this.checkin[key].image.raw = e.target.result
        }
      }
      reader.readAsDataURL(evt.target.files[0])
    },
    validImageURL (url) {
      if (typeof url !== 'string') {
        return false
      }
      return url.slice(0, 4) === 'http'
    }
  }
}
</script>
