<template>
  <md-empty-state>
    <md-icon class="md-empty-state-icon">
      <font-awesome-icon icon="exclamation-triangle"></font-awesome-icon>
    </md-icon>
    <strong class="md-empty-state-label" v-if="label">{{ label }}</strong>
    <p class="md-empty-state-description" v-if="description">{{ description }}</p>
  </md-empty-state>
</template>

<script>
import statusCodes from '@/assets/json/http-status-codes.json'

export default {
  name: 'Error',
  props: {
    statusCode: String
  },
  data () {
    return {
      label: null,
      description: null,
      code: this.$route.params.code || this.statusCode
    }
  },
  mounted () {
    if (typeof this.code === undefined) {
      this.code = 500
    }
    for (var idx in statusCodes) {
      if (statusCodes[idx].code === this.code) {
        this.label = statusCodes[idx].phrase
        this.description = statusCodes[idx].description
      }
    }
    if (!(this.label && this.description)) {
      this.label = 'Unknown error'
      this.description = 'Something went wrong! Please contact the administrator.'
    }
  }
}
</script>
