<style scoped>
.list-unstyled {
  list-style: none;
  padding: 0;
}

a {
  color: var(--md-theme-default-text-primary-on-accent, #fff) !important;
}
</style>

<template>
  <md-content class="md-primary">
    <div class="md-layout">
      <div class="md-layout-item md-size-15"></div>
      <div class="md-layout-item">
        <h4>About</h4>
        <p class="text-muted">The idea was born while drinking a lot of delicious beers in Helsinki</p>
      </div>
      <div class="md-layout-item">
        <h4>Details</h4>
        <ul class="list-unstyled">
          <li><a href="https://git.feneas.org/socialtap/server">Fork me</a></li>
          <li><a href="mailto:incoming+socialtap-server-358-issue-@git.feneas.org">Report a bug</a></li>
          <li><a href="mailto:lukas@matt.wf">Contact me</a></li>
        </ul>
      </div>
      <div class="md-layout-item md-size-15"></div>
    </div>
    <md-snackbar :class="'bs-' + colorClass" md-position="center" :md-duration="duration" :md-active.sync="show" md-persistent>
      <span>{{ title }} - {{ message }}</span>
    </md-snackbar>
  </md-content>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      title: null,
      message: null,
      duration: null,
      colorClass: null,
      show: false
    }
  },
  beforeMount () {
    // register toast channel
    this.$root.$on('toast', (title, message, duration = 4000, colorClass = 'success') => {
      this.title = title
      this.message = message
      this.duration = duration
      this.colorClass = colorClass
      this.show = true
    })
  }
}
</script>
