<style scoped>
.md-button {
  width: 100%;
  margin: 3em;
}
.center {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--bs-color-beer);
  font-size: 28px;
  font-size: calc(30px + 3.5vw);
  text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
}
h2 {
  font-size: 18px;
  font-size: calc(12px + 1vw);
  color: var(--bs-color-dark);
}
</style>

<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100 center">
      <h1>Socialtap</h1>
      <h2>drink socially</h2>
    </div>
    <div class="md-layout-item md-size-100">
      <IndexItem
        v-for="(item, index) in items"
        :key="'indexitem' + index"
        :index="index"
        :item="item"
      />
    </div>
    <div class="md-layout-item md-size-100 center">
      <md-button class="bs-beer" :to="{ name: 'CreateCheckin' }">Start adding drinks…</md-button>
    </div>
  </div>
</template>

<script>
import IndexItem from '@/parts/IndexItem'

export default {
  name: 'Index',
  components: {
    IndexItem
  },
  data () {
    return {
      items: [
        {
          image: require('@/assets/images/menu_example.png'),
          imageAlt: 'Menu example',
          description: 'Discover who\'s sharing their drinks in your global tab view. Or find out who\'s writing what and what\'s being discussed under the Stream tab. If that\'s not enough, you can always check out your own posts under "My tap". Or post a new drink.'
        },
        {
          image: require('@/assets/images/search_example.png'),
          imageAlt: 'Search example',
          description: 'You can add new drinks by searching the local database or doing it from scratch. If you connect your Untappd account with Socialtap you can even search the Untappd database for your favorit beer.'
        },
        {
          image: require('@/assets/images/checkin_example.png'),
          imageAlt: 'Checkin example',
          description: 'Do you like Stout\'s? Well, I certainly do. But the important point here is that you can check in whatever you want. It doesn\'t even have to be beer. Wine? Whiskey? You decide. Check in your favourite drink and share your experience with your friends.'
        }
      ]
    }
  }
}
</script>
