<template>
  <form @submit="onSubmit">
    <md-card-header>
      <div class="md-title">Login</div>
    </md-card-header>

    <md-card-content>
      <md-field md-clearable>
        <label>Email</label>
        <md-input v-model="form.email" type="email"></md-input>
      </md-field>

      <md-field>
        <label>Password</label>
        <md-input v-model="form.password" type="password"></md-input>
      </md-field>

      <md-field v-if="showReset">
        <label>Retype password</label>
        <md-input v-model="repassword" type="password"></md-input>
      </md-field>
    </md-card-content>

    <md-card-actions>
      <md-button
        class="md-primary"
        @click="onReset"
        :disabled="sent"
      >Reset password</md-button>
      <md-button
        v-if="!showReset"
        type="submit"
        class="md-primary"
        :disabled="sent"
      >Login</md-button>
    </md-card-actions>
  </form>
</template>

<script>
import { Base, Socialtap, onError } from '@/api'

export default {
  name: 'Login',
  data () {
    return {
      form: {
        email: null,
        password: null
      },
      repassword: null,
      showReset: false,
      sent: false
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      this.sent = true

      Base.post('/login', '', {
        params: this.form,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        }
      }).then(() => {
        Socialtap.get('/config').then(response => {
          this.$root.apiConfig = response.data
          if (this.$root.apiConfig.authenticated) {
            this.$root.$emit('update-userinfo')
            this.$router.push({ name: 'Tap' })
          } else {
            this.$root.$emit(
              'toast',
              'Login failed',
              'Username or password was wrong',
              undefined,
              'danger'
            )
          }
        })
      }).catch((resp) => onError(this, resp)).finally(() => {
        this.sent = false
      })
    },
    onReset (evt) {
      evt.preventDefault()
      this.sent = true

      if (this.showReset) {
        Socialtap.post('/user/reset_password', {
          email: this.form.email,
          password: this.form.password,
          repassword: this.repassword
        }).then(() => {
          this.$root.$emit(
            'toast',
            'Success',
            'Please check your Email account and confirm your password reset',
            undefined,
            'success'
          )
        }).catch((resp) => onError(this, resp))
      } else {
        this.sent = false
        this.showReset = !this.showReset
      }
    }
  }
}
</script>
