<style scoped>
.checkin {
  color: var(--bs-color-white) !important;
  background-color: var(--bs-color-beer) !important;
  display: block;
  width: 100%;
}
</style>

<template>
  <div>
    <md-list>
      <md-list-item>
        <md-button
          class="md-dense md-raised checkin"
          :to="{ name: 'CreateCheckin' }"
        >Checkin</md-button>
      </md-list-item>

      <md-list-item :to="{name: 'Tap'}">
        <font-awesome-icon class="md-icon" icon="beer" />
        <span class="md-list-item-text">Tap</span>
      </md-list-item>

      <md-list-item :to="{name: 'Stream'}">
        <font-awesome-icon class="md-icon" icon="align-left" />
        <span class="md-list-item-text">Stream</span>
      </md-list-item>

      <template v-if="$root.apiConfig.authenticated">
        <md-list-item :to="{name: 'User', params: {uuid: $root.apiConfig.userID}}">
          <font-awesome-icon class="md-icon" icon="user" />
          <span class="md-list-item-text">My tap</span>
        </md-list-item>

        <md-list-item :to="{name: 'Setting'}">
          <font-awesome-icon class="md-icon" icon="cogs" />
          <span class="md-list-item-text">Settings</span>
        </md-list-item>

        <md-list-item @click="logout">
          <font-awesome-icon class="md-icon" icon="sign-out-alt" />
          <span class="md-list-item-text">Logout</span>
        </md-list-item>
      </template>

      <template v-else>
        <md-list-item :to="{name: 'Login'}">
          <font-awesome-icon class="md-icon" icon="sign-in-alt" />
          <span class="md-list-item-text">Login</span>
        </md-list-item>

        <md-list-item :to="{name: 'Register'}">
          <font-awesome-icon class="md-icon" icon="user-plus" />
          <span class="md-list-item-text">Register</span>
        </md-list-item>
      </template>
    </md-list>
  </div>
</template>

<script>
import { Base, onError } from '@/api'

export default {
  name: 'Navigation',
  methods: {
    logout (evt) {
      evt.preventDefault()
      Base.get('/logout').then(() => {
        this.$root.apiConfig.authenticated = false
      }).catch((resp) => onError(this, resp))
    }
  }
}
</script>
