<template>
  <form @submit="onSubmit">
    <md-card-header>
      <div class="md-title">Register</div>
    </md-card-header>

    <md-card-content>
      <md-field md-clearable>
        <label>Username</label>
        <md-input v-model="form.username"></md-input>
      </md-field>

      <md-field>
        <label>Email address</label>
        <md-input v-model="form.email" type="email"></md-input>
      </md-field>

      <md-field>
        <label>Password</label>
        <md-input v-model="form.password" type="password"></md-input>
      </md-field>

      <md-field>
        <label>Repeat password</label>
        <md-input v-model="form.repassword" type="password"></md-input>
      </md-field>
    </md-card-content>

    <md-card-actions>
      <md-button type="submit" class="md-primary" :disabled="sent">Register</md-button>
    </md-card-actions>
  </form>
</template>

<script>
import { Socialtap, onError } from '@/api'

export default {
  name: 'Register',
  data () {
    return {
      form: {
        username: null,
        email: null,
        password: null,
        repassword: null,
      },
      sent: false
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      this.sent = true

      Socialtap.post('/register', this.form).then(() => {
        this.$router.push({ name: 'Login' })
      }).catch((resp) => onError(this, resp)).finally(() => {
        this.sent = false
      })
    }
  }
}
</script>
