<template>
  <div>
    <md-dialog-confirm
      :md-active.sync="showWarning"
      md-title="Sync with Untappd"
      md-content="Are you sure that you want to synchronice all your Checkins from Untappd with Socialtap?"
      md-confirm-text="Agree"
      md-cancel-text="Disagree"
      @md-confirm="onUntappdSync"
    />
    <md-list>
      <md-subheader>Settings</md-subheader>

      <md-list-item>
        <font-awesome-icon v-if="!$root.userInfo.untappdSynced" class="md-icon" icon="sync" />
        <font-awesome-icon v-else class="md-icon" icon="check" />
        <span class="md-list-item-text">Sync with Untappd</span>
        <md-button
          class="md-raised bs-primary"
          @click="showWarning = true"
          :disabled="$root.userInfo.untappdService"
        >Connect</md-button>
      </md-list-item>
    </md-list>
  </div>
</template>

<script>
export default {
  name: 'Setting',
  data () {
    return {
      showWarning: false,
      switches: {
        untappd: false
      }
    }
  },
  mounted () {
    this.fetchUserInfo()
    this.$root.$emit('interval', setInterval(this.fetchUserInfo, 10000))
  },
  methods: {
    fetchUserInfo () {
      if (!this.$root.apiConfig.authenticated) {
        this.$router.push({ 'name': 'Login' })
        return
      }
    },
    onUntappdSync () {
      window.location = 'https://untappd.com/oauth/authenticate?client_id=' +
        this.$root.apiConfig.clientID +
        '&response_type=code&redirect_url=' +
        this.$root.apiConfig.redirectURL
    }
  }
}
</script>
