<style lang="scss" scoped>
.editor {
  margin: 16px !important;
}
</style>

<template>
  <div>
    <RichTextEditor
      v-if="$root.apiConfig.authenticated"
      class="editor md-layout-item md-size-100" />

    <Loading v-if="loading.processing > loading.processed" />

    <div v-else-if="items.length > 0" id="infinity-scroll">
      <Note
        v-for="(item, index) in items"
        v-bind:key="'item' + index"
        :item="item"
        :person="people[item.attributedTo]"
      />
    </div>

    <md-empty-state v-else v-show="delay">
      <md-icon class="md-empty-state-icon">
        <font-awesome-icon icon="align-left"></font-awesome-icon>
      </md-icon>
      <strong class="md-empty-state-label">Empty stream</strong>
      <p class="md-empty-state-description">You haven't posted anything, yet!</p>
    </md-empty-state>
  </div>
</template>

<script>
import { ActivityPub, onError } from '@/api'
import Note from '@/parts/Note'
import Loading from '@/parts/Loading'
import RichTextEditor from '@/parts/RichTextEditor'

export default {
  name: 'Stream',
  props: ['maxEntries'],
  components: {
    Note,
    Loading,
    RichTextEditor
  },
  data () {
    return {
      busy: false,
      page: 1,
      uuid: this.$route.params.uuid,
      items: [],
      people: [],
      loading: {
        processing: 0,
        processed: 0
      },
      delay: false
    }
  },
  mounted () {
    this.updateItems(true)
    this.$root.$emit('interval', setInterval(this.updateItems, 10000))
    // events
    document.addEventListener('scroll', this.infinityScroll)
    setTimeout(() => { this.delay = true }, 500)
  },
  methods: {
    updateItems (displayLoadingBar = false) {
      var url = '/notes'
      if (this.uuid) {
        url = `${url}?uuid=${this.uuid}`
      }
      // fetch first X entries from item endpoint
      ActivityPub.get(url).then((resp) => {
        var items = resp.data.orderedItems
        if (!Array.isArray(items)) {
          items = [items]
        }

        if (this.maxEntries) {
          this.items = items.slice(0, this.maxEntries)
        } else {
          this.items = items
        }
        this.userInfo(displayLoadingBar)
      }).catch((resp) => onError(this, resp))
    },
    addItems () {
      if (this.maxEntries || this.busy) {
        // that is only supported in SPV
        return
      }

      this.busy = true
      this.page++ // move to the next page
      var url = `/notes?page=${this.page}`
      if (this.uuid) {
        url = `${url}&uuid=${this.uuid}`
      }
      // XXX kill the update interval
      // we need to activate it after the user decided to scroll back up
      this.$root.$emit('interval', -1)
      // fetch first X entries from page Y
      ActivityPub.get(url).then(resp => {
        var items = resp.data.orderedItems
        if (!Array.isArray(items)) {
          items = [items]
        }

        for (var idx in items) {
          this.items.push(items[idx])
        }
        this.userInfo()
      }).catch((resp) => onError(this, resp)).finally(() => { this.busy = false })
    },
    userInfo (displayLoadingBar = false) {
      for (var idx in this.items) {
        var item = this.items[idx]
        if (this.people[item.attributedTo] || !item.attributedTo) {
          continue
        }
        if (displayLoadingBar) {
          this.loading.processing++
        }
        ActivityPub.get(item.attributedTo).then((resp) => {
          this.people[resp.data.id] = resp.data
        }).catch((resp) => onError(this, resp)).finally(() => {
          if (displayLoadingBar) {
            this.loading.processed++
          }
        })
      }
    },
    prettyLocationName (name) {
      var parts = name.split(', ').filter(a => a !== '')
      return parts.join(', ')
    },
    infinityScroll () {
      var doc = document.documentElement
      if (doc.scrollTop >= (doc.scrollHeight - doc.clientHeight) * 0.9 && !this.busy) {
        // will disable auto updates
        this.addItems()
      }
      // enable auto updates again
      if (doc.scrollTop * 0.9 <= 0) {
        this.$root.$emit('interval', -1)
        this.$root.$emit('interval', setInterval(this.updateBeers, 10000))
      }
    }
  }
}
</script>
