<style scoped>
.md-layout {
  align-items: flex-start;
}
</style>

<template>
  <Loading v-if="loading.processing > loading.processed" />

  <div v-else-if="checkins.length > 0" id="infinity-scroll" class="md-layout">
    <Checkin
      v-for="(checkin, index) in checkins"
      v-bind:key="'checkin' + index"
      class="md-layout-item"
      :checkin="checkin"
      :person="people[checkin.attributedTo]"
    />
  </div>

  <md-empty-state v-else v-show="delay">
    <md-icon class="md-empty-state-icon">
      <font-awesome-icon icon="beer"></font-awesome-icon>
    </md-icon>
    <strong class="md-empty-state-label">Empty stream</strong>
    <p class="md-empty-state-description">You haven't posted anything, yet!</p>
  </md-empty-state>
</template>

<script>
import { ActivityPub, onError } from '@/api'
import Checkin from '@/parts/Checkin'
import Loading from '@/parts/Loading'

export default {
  name: 'Tap',
  props: ['maxEntries'],
  components: {
    Checkin,
    Loading
  },
  data () {
    return {
      busy: false,
      page: 1,
      uuid: this.$route.params.uuid,
      checkins: [],
      people: [],
      loading: {
        processing: 0,
        processed: 0
      },
      delay: false
    }
  },
  mounted () {
    this.updateBeers(true)
    this.$root.$emit('interval', setInterval(this.updateBeers, 10000))
    // events
    document.addEventListener('scroll', this.infinityScroll)
    setTimeout(() => { this.delay = true }, 500)
  },
  methods: {
    updateBeers (displayLoadingBar = false) {
      var url = '/checkins'
      if (this.uuid) {
        url = `${url}?uuid=${this.uuid}`
      }
      // fetch first X entries from checkin endpoint
      ActivityPub.get(url).then((resp) => {
        var checkins = resp.data.orderedItems
        if (!Array.isArray(checkins)) {
          checkins = [checkins]
        }

        if (this.maxEntries) {
          this.checkins = checkins.slice(0, this.maxEntries)
        } else {
          this.checkins = checkins
        }
        this.userInfo(displayLoadingBar)
      }).catch((resp) => onError(this, resp))
    },
    addBeers () {
      if (this.maxEntries || this.busy) {
        // that is only supported in SPV
        return
      }

      this.busy = true
      this.page++ // move to the next page
      var url = `/checkins?page=${this.page}`
      if (this.uuid) {
        url = `${url}&uuid=${this.uuid}`
      }
      // XXX kill the update interval
      // we need to activate it after the user decided to scroll back up
      this.$root.$emit('interval', -1)
      // fetch first X entries from page Y
      ActivityPub.get(url).then(resp => {
        var checkins = resp.data.orderedItems
        if (!Array.isArray(checkins)) {
          checkins = [checkins]
        }

        for (var idx in checkins) {
          this.checkins.push(checkins[idx])
        }
        this.userInfo()
      }).catch((resp) => onError(this, resp)).finally(() => { this.busy = false })
    },
    userInfo (displayLoadingBar = false) {
      for (var idx in this.checkins) {
        var checkin = this.checkins[idx]
        if (this.people[checkin.attributedTo] || !checkin.attributedTo) {
          continue
        }
        if (displayLoadingBar) {
          this.loading.processing++
        }
        ActivityPub.get(checkin.attributedTo).then((resp) => {
          this.people[resp.data.id] = resp.data
        }).catch((resp) => onError(this, resp)).finally(() => {
          if (displayLoadingBar) {
            this.loading.processed++
          }
        })
      }
    },
    infinityScroll () {
      var doc = document.documentElement
      if (doc.scrollTop >= (doc.scrollHeight - doc.clientHeight) * 0.9 && !this.busy) {
        // will disable auto updates
        this.addBeers()
      }
      // enable auto updates again
      if (doc.scrollTop * 0.9 <= 0) {
        this.$root.$emit('interval', -1)
        this.$root.$emit('interval', setInterval(this.updateBeers, 10000))
      }
    }
  }
}
</script>
