<style scoped>
.md-avatar-icon {
  z-index: 99;
  margin-left: 2px;
  background-color: var(--bs-color-beer) !important;
}
.avatar-size {
  margin-left: -24px;
  margin-top: -64px;
  min-width: 128px;
  min-height: 128px;
  border-radius: 128px;
  font-size: 64px;
}
.avatar-box {
  /*
    .md-avatar.margin-left - .avatar-size.min-width (108px)
    instead we use 113px that includes 5px padding
  */
  min-width: 113px;
  max-width: 113px;
}
.header {
  text-align: right;
  margin: -64px 16px 16px 16px;
}
</style>

<template>
  <div>
    <div class="md-small-hide avatar-box" v-if="person !== null">
      <md-avatar class="md-avatar-icon avatar-size">
        <md-ripple v-html="generateGridy(person.preferredUsername)"></md-ripple>
      </md-avatar>
    </div>
    <div class="md-layout header" v-if="person !== null">
      <div class="md-layout-item">
        <md-toolbar md-elevation="1">
          <div class="md-toolbar-row">
            <div class="md-layout">
              <div class="md-layout-item md-small-size-100">
                <p class="md-title">{{ person.preferredUsername }}</p>
              </div>
              <div class="md-layout-item">
                <md-badge class="md-primary md-square" :md-content="counter.total">
                  <p class="md-list-item-text">Total checkins</p>
                </md-badge>
              </div>
              <div class="md-layout-item">
                <md-badge class="md-primary md-square" :md-content="counter.unique">
                  <p class="md-list-item-text">Unique checkins</p>
                </md-badge>
              </div>
              <div class="md-layout-item">
                <md-badge class="md-primary md-square" :md-content="counter.followers">
                  <p class="md-list-item-text">Followers</p>
                </md-badge>
              </div>
              <div class="md-layout-item">
                <md-badge class="md-primary md-square" :md-content="counter.following">
                  <p class="md-list-item-text">Following</p>
                </md-badge>
              </div>
            </div>
          </div>
          <div class="md-toolbar-row" v-if="badges.length > 0">
            <div class="md-layout">
              <div class="md-layout-item md-size-10 md-small-size-100">
                <strong>Badges</strong>
              </div>
              <div class="md-layout-item">
                <md-avatar
                  v-for="(badge, idx) in badges"
                  :key="'badge' + idx"
                  class="md-avatar-icon md-small"
                >
                  <md-ripple v-html="generateIdenticon(badge.name)"></md-ripple>
                  <md-tooltip md-direction="bottom">{{ badge.description }}</md-tooltip>
                </md-avatar>
              </div>
            </div>
          </div>
        </md-toolbar>
      </div>
    </div>
    <div class="md-layout">
      <div class="md-layout-item"><Tap /></div>
    </div>
  </div>
</template>

<script>
import { Base, Socialtap, onError } from '@/api'
import Tap from '@/components/Tap'

import { createAvatar } from '@dicebear/avatars'
import * as gridy from '@dicebear/avatars-gridy-sprites'
import * as identicon from '@dicebear/avatars-identicon-sprites'

export default {
  name: 'User',
  components: {
    Tap
  },
  data () {
    return {
      person: null,
      badges: [],
      counter: {
        total: 0,
        unique: 0,
        type: {},
        followers: 0,
        following: 0
      }
    }
  },
  mounted () {
    Base.get(`/users/${this.$route.params.uuid}`).then((resp) => {
      this.person = resp.data
    }).catch((resp) => onError(this, resp))

    Base.get(`/users/${this.$route.params.uuid}/following`).then((resp) => {
      this.counter.following = resp.data.totalItems
    }).catch((resp) => onError(this, resp))

    Base.get(`/users/${this.$route.params.uuid}/followers`).then((resp) => {
      this.counter.followers = resp.data.totalItems
    }).catch((resp) => onError(this, resp))

    Socialtap.get(`/userinfo/${this.$route.params.uuid}`).then((resp) => {
      this.counter.total = resp.data.totalCheckins
      this.counter.unique = resp.data.uniqueCheckins
      if (resp.data.badges) {
        this.badges = resp.data.badges.sort((a, b) => { return a.level < b.level })
      }
    }).catch((resp) => onError(this, resp))
  },
  methods: {
    generateGridy (seed) {
      return createAvatar(gridy, { seed: seed })
    },
    generateIdenticon (seed) {
      return createAvatar(identicon, { seed: seed })
    }
  }
}
</script>
