<style>
html, body {
  background-color: var(--md-theme-default-primary, #343a40);
}
.router-view {
  padding: 16px 0 0 0 !important;
}
.md-app {
  max-height: 100%;
  border: 1px solid rgba(#000, .12);
}
.m-0 {
  margin: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.alert {
  padding: 1.5em;
}
.page-container {
  background-color: var(--md-theme-default-background-variant, #fafafa);
}
.text-muted {
  color: #6c757d !important;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.md-speed-dial {
  z-index: 998;
}
.md-speed-dial-content {
  z-index: 999;
}
.header-cover {
  background-image:url('~@/assets/images/splash.jpg');
  background-size: cover;
}
</style>

<template>
  <div class="page-container">
    <md-content v-if="$root.apiConfig.debug" class="alert bs-warning">
      This instance is running in debug-mode!
    </md-content>
    <md-content v-if="!$root.apiConfig.mail" class="alert bs-warning">
      Sending mails is disabled!
    </md-content>
    <md-content v-if="!$root.apiConfig.worker" class="alert bs-danger">
      Worker is not running! It was disabled.
    </md-content>
    <md-app md-waterfall md-mode="overlap">
      <md-app-toolbar class="md-primary md-large header-cover">
        <div class="md-toolbar-row">
          <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
            <font-awesome-icon class="md-icon" icon="bars" />
          </md-button>

          <span class="md-title"><strong>Socialtap</strong>&nbsp;-&nbsp;drink socially</span>
        </div>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible"><Navigation /></md-app-drawer>

      <md-app-content :class="classes.routerView()">
        <router-view></router-view>
      </md-app-content>
    </md-app>

    <Footer />
  </div>
</template>

<script>
import Navigation from '@/components/Navigation'
import Footer from '@/components/Footer'

export default {
  name: 'App',
  components: {
    Navigation,
    Footer
  },
  data () {
    return {
      menuVisible: false,
      intervalIds: [],
      classes: {
        routerView: () => {
          return {
            'md-elevation-0': true,
            'router-view': true,
            'm-0': this.$route.name === 'Index'
          }
        }
      }
    }
  },
  beforeMount () {
    // register interval channel
    this.$root.$on('interval', (id = 0) => {
      if (id > 0) {
        console.debug('Adding interval id ' + id)
        this.intervalIds.push(id)
      }
      // kill all running intervals
      if (id < 0) {
        console.debug('Clearing ' + this.intervalIds.length + ' intervals')
        for (var idx in this.intervalIds) {
          clearInterval(this.intervalIds[idx])
        }
        this.intervalIds = []
      }
    })
  },
  watch: {
    $route () {
      this.menuVisible = false
      // clear intervals on route changes
      this.$root.$emit('interval', -1)
    }
  }
}
</script>
