// bs color plate
$primary: #007bff;
$secondary: #6c757d;
$info: #17a2b8;
$danger: #dc3545;
$warning: #ffc107;
$success: #28a745;
$white: #ffffff;
$black: #000000;
$grey: #dee2e6;
$beer: #ffbf00;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "danger": $danger,
  "warning": $warning,
  "success": $success,
  "white": $white,
  "black": $black,
  "grey": $grey,
  "beer": $beer
);

:root {
  @each $name, $color in $colors {
    --bs-color-#{$name}: #{$color};
  }
}

@each $name, $color in $colors {
  .bs-#{$name} {
    .md-progress-spinner-circle {
      stroke: $color !important;
    }

    &.svg-inline--fa {
      color: $color;
    }

    &.md-button, &.md-content,
    &.md-snackbar, &.md-toolbar,
    &.md-list-item {
      @if $name != white {
        color: $white;
      } @else {
        color: $black;
      }
      background-color: $color;
    }

    .md-title {
      @if $name != white {
        color: $white !important;
      } @else {
        color: $black !important;
      }
    }
  }
}
